/venv/
/venv/bin/
/venv/include/
/venv/lib/
/venv/lib64/
/venv/pyvenv.cfg
/main.py
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/.gitignore
/.idea/auth-dnn.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
